* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div {
  word-wrap: break-word;
  line-height: 1.25rem;
}

#view-change-button {
  display: inline-block;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  background: #AB72F8;
  top: 0.3125rem;
  right: 0.3125rem;
  line-height: 3.125rem;
  vertical-align: middle;
}

#view-change-button img {
  display: none;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

#view-change-button:not(.full) .not-full {
  display: inline-block;
}

#view-change-button.full .full {
  display: inline-block;
}

#contentParent {
  height: 100%;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
}

.responsive-column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}

#chat-column-holder {
  text-align: center;
}

.chat-heading {
  color: #00b4a0;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 54px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  padding-bottom: 25px;
}

.chat-column {
  height: 85%;
  margin: auto;
  text-align: left;
  max-width: 50%;
}

#scrollingChat {
  margin: 0.75rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition: 0.5s;
  transition: 1s;
  color: #CCCDCC;
}

.latest .message-inner {
  color: #FFFFFF;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user{
  text-align: right;
}

.from-watson{
  text-align: left;
}

.from-user .message-inner {
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #00B09D;
  border-radius: 1.25rem;
  text-align: left;
  display: inline-block;
  margin-left: 2.5rem;
  min-width: 2.5rem;
}

.from-watson .message-inner {
  position: relative;
  font-size: 1rem;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #959595;
  background-image: url("../img/logo.gif");
  background-repeat: no-repeat;
  background-position: left 7.5px top 50%;
  background-size: 30px 30px;
  border-radius: 1.25rem;
  text-align: left;
  display: inline-block;
  min-width: 2.5rem;
}

.from-user .message-inner p {
  margin: 0.3125rem;
  padding: 0 0.9375rem;
}

.from-watson .message-inner p {
  margin: 0.3125rem;
  padding: 0.1rem 2.5rem;
}

#textInput {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  color: #ececec;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  height: 2.5rem;
  max-width: 100%;
  padding-left: 0.125rem;
  margin-bottom: -0.125rem;
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#textInput.underline {
  border-bottom: 2px solid #00b4a0;
}

#iiclj-logo {
  position: absolute;
  bottom: 25px;
  right: 20px;
  height: 75px;
  width: 75px;
}

#watson-logo {
  z-index: -1;
  position: absolute;
  bottom: 25;
  left: 20;
  height: 79.2px;
  width: 85px;
}

::-webkit-input-placeholder {
  color: #B5B5B5;
}

::-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

input:-moz-placeholder {
  color: #B5B5B5;
  opacity:  1;
}

:-ms-input-placeholder {
  color: #B5B5B5;
}

::-ms-clear {
  display: none;
}

.inputOutline {
  display: block;
  border-bottom: 0.0625rem solid #aeaeae;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#textInputDummy {
  position:absolute;
  white-space:pre;
  top: 0;
  left: -1000%;
  opacity: 0;
}

#payload-column {
  display: none;
  font-family: Monaco, monospace;
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.125rem;
  background-color: #23292A;
  color: #fff;
  overflow-x: auto;

  width: 45%;
  max-width: 32.0625rem;
  min-width: 29.6875rem;
}

#payload-column.full {
  width: 100%;
  max-width: none;
  min-width: initial;
}

#payload-column .header-text, #payload-column #payload-initial-message {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #9E9E9E;
  letter-spacing: 0.01875rem;
  padding: 0.5rem;
  padding-left: 2.5rem;
  background: #383D3E;
}

.hide {
  display: none;
}

.payload .line-numbers, .payload .payload-text {
  padding: 0.5rem;
}

.line-numbers {
  width: 2rem;
  color: #898989;
  text-align: right;
}

pre {
  margin: 0;
  word-wrap: normal;
}

.string {
  color: #54EED0;
}

.boolean, .null, .number {
  color: #CE8EFF;
}

.key {
  color: #66B7FF;
}

html{
  font-size: 16px;
}

@media only screen and (max-width: 960px) {
  .chat-heading {
    font-size: 38px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }

/*  .chat-column {
    padding-top: 4rem;
  }*/

  #payload-column {
    width: 0;
    max-width: none;
    min-width: initial;
  }
}

/* IBM Design fonts https://github.ibm.com/Design/fonts */
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light/h-n-light.eot?') format('eot'),
  url('../fonts/light/h-n-light.woff2') format('woff2'),
  url('../fonts/light/h-n-light.woff') format('woff'),
  url('../fonts/light/h-n-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light-italic/h-n-light-italic.eot?') format('eot'),
  url('../fonts/light-italic/h-n-light-italic.woff2') format('woff2'),
  url('../fonts/light-italic/h-n-light-italic.woff') format('woff'),
  url('../fonts/light-italic/h-n-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman/h-n-roman.eot?') format('eot'),
  url('../fonts/roman/h-n-roman.woff2') format('woff2'),
  url('../fonts/roman/h-n-roman.woff') format('woff'),
  url('../fonts/roman/h-n-roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/roman-italic/h-n-roman-italic.eot?') format('eot'),
  url('../fonts/roman-italic/h-n-roman-italic.woff2') format('woff2'),
  url('../fonts/roman-italic/h-n-roman-italic.woff') format('woff'),
  url('../fonts/roman-italic/h-n-roman-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium/h-n-medium.eot?') format('eot'),
  url('../fonts/medium/h-n-medium.woff2') format('woff2'),
  url('../fonts/medium/h-n-medium.woff') format('woff'),
  url('../fonts/medium/h-n-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium-italic/h-n-medium-italic.eot?') format('eot'),
  url('../fonts/medium-italic/h-n-medium-italic.woff2') format('woff2'),
  url('../fonts/medium-italic/h-n-medium-italic.woff') format('woff'),
  url('../fonts/medium-italic/h-n-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold/h-n-bold.eot?') format('eot'),
  url('../fonts/bold/h-n-bold.woff2') format('woff2'),
  url('../fonts/bold/h-n-bold.woff') format('woff'),
  url('../fonts/bold/h-n-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold-italic/h-n-bold-italic.eot?') format('eot'),
  url('../fonts/bold-italic/h-n-bold-italic.woff2') format('woff2'),
  url('../fonts/bold-italic/h-n-bold-italic.woff') format('woff'),
  url('../fonts/bold-italic/h-n-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* IBM Icons */
@font-face {
  font-family: 'ibm-icons';
  src:url('../fonts/ibm-icons.eot?ytcz1z') format('eot'),
  url('../fonts/ibm-icons.eot?ytcz1z#iefix') format('embedded-opentype'),
  url('../fonts/ibm-icons.ttf?ytcz1z') format('truetype'),
  url('../fonts/ibm-icons.woff?ytcz1z') format('woff'),
  url('../fonts/ibm-icons.svg?ytcz1z#ibm-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* IBM glyphs */
@font-face {
  font-family: 'ibm-glyph';
  src:url('../fonts/ibm-glyphs.eot?1b8643') format('eot'),
  url('../fonts/ibm-glyphs.eot?1b8643#iefix') format('embedded-opentype'),
  url('../fonts/ibm-glyphs.ttf?1b8643') format('truetype'),
  url('../fonts/ibm-glyphs.woff?1b8643') format('woff'),
  url('../fonts/ibm-glyphs.svg?1b8643#ibm-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}
